/**
 * Syntax highlighting styles
 */
.highlight {
  background-color: $base02;
  color: $base1;
  @extend %vertical-rhythm;

  .c     { color: $base01 !important; font-style: italic !important } // Comment
  .err   { color: $red !important; background:none !important } // Error
  .k     { color: $red !important } // Keyword
  .o     { color: $magenta !important; font-weight: bold !important } // Operator
  .cm    { color: $base01 !important; font-style: italic !important } // Comment.Multiline
  .cp    { color: $base01 !important; font-style: italic !important } // Comment.Preproc
  .c1    { color: $base01 !important; font-style: italic !important } // Comment.Single
  .cs    { color: $base01 !important; font-weight: bold !important; font-style: italic !important } // Comment.Special
  .gd    { color: $base1 !important; background-color: darken($red, 10%) !important; display: inline-block } // Generic.Deleted
  .gd .x { color: $base1 !important; background-color: darken($red, 20%) !important; display: inline-block } // Generic.Deleted.Specific
  .ge    { color: $base1 !important; font-style: italic !important } // Generic.Emph
  .gr    { color: $red } // Generic.Error
  .gh    { color: $base01 !important } // Generic.Heading
  .gi    { color: $base1 !important; background-color: darken($green, 20%) !important; display: inline-block} // Generic.Inserted
  .gi .x { color: $base1 !important; background-color: darken($green, 10%) !important; display: inline-block} // Generic.Inserted.Specific
  .go    { color: $base1 } // Generic.Output
  .gp    { color: $base0 } // Generic.Prompt
  .gs    { color: $base1 !important; font-weight: bold !important} // Generic.Strong
  .gu    { color: $violet !important} // Generic.Subheading
  .gt    { color: $red} // Generic.Traceback
  .kc    { color: $green !important; font-weight: bold !important } // Keyword.Constant
  .kd    { color: $orange !important } // Keyword.Declaration
  .kp    { color: $orange !important; font-weight: bold !important } // Keyword.Pseudo
  .kr    { color: $magenta !important; font-weight: bold !important } // Keyword.Reserved
  .kt    { color: $cyan !important } // Keyword.Type
  .m     { color: $cyan !important } // Literal.Number
  .s     { color: $magenta !important } // Literal.String
  .na    { color: $blue !important } // Name.Attribute
  .nb    { color: $green !important } // Name.Builtin
  .nc    { color: $magenta !important } // Name.Class
  .no    { color: $yellow !important } // Name.Constant
  .ni    { color: $magenta } // Name.Entity
  .ne    { color: $blue !important; font-weight: bold !important } // Name.Exception
  .nf    { color: $blue !important; font-weight: bold !important } // Name.Function
  .nn    { color: $yellow !important } // Name.Namespace
  .nt    { color: $blue !important; font-weight: bold !important } // Name.Tag
  .nv    { color: $blue !important } // Name.Variable
  .ow    { color: $cyan !important; font-weight: bold !important } // Operator.Word
  .w     { color: $base2 } // Text.Whitespace
  .mf    { color: $cyan !important } // Literal.Number.Float
  .mh    { color: $cyan !important } // Literal.Number.Hex
  .mi    { color: $cyan !important } // Literal.Number.Integer
  .mo    { color: $cyan } // Literal.Number.Oct
  .sb    { color: $red } // Literal.String.Backtick
  .sc    { color: $red } // Literal.String.Char
  .sd    { color: $cyan !important } // Literal.String.Doc
  .s2    { color: $cyan !important } // Literal.String.Double
  .se    { color: $red !important } // Literal.String.Escape
  .sh    { color: $red } // Literal.String.Heredoc
  .si    { color: $blue !important } // Literal.String.Interpol
  .sx    { color: $red } // Literal.String.Other
  .sr    { color: $cyan !important } // Literal.String.Regex
  .s1    { color: $cyan !important } // Literal.String.Single
  .ss    { color: $violet } // Literal.String.Symbol
  .bp    { color: $base1 } // Name.Builtin.Pseudo
  .vc    { color: $cyan } // Name.Variable.Class
  .vg    { color: $blue !important } // Name.Variable.Global
  .vi    { color: $blue !important } // Name.Variable.Instance
  .il    { color: $cyan } // Literal.Number.Integer.Long

  .p     { color: $base1 !important } // Parenthesis
  .n     { color: $blue !important }
  .nl    { color: $green !important }
  .nx    { color: $yellow !important }

  div .gd { display: inline-block; width: 100%; }
  div .gd .x { display: inline-block; width: 100%; }
  div .gi { display: inline-block; width: 100%; }
  div .gi .x { display: inline-block; width: 100%}
}
